.home-page {
    .banner {
        height: 250px;
        width: 100%;
        overflow: hidden;
        img{
            @media screen and (min-width: 1920px ) {
                width: 100%;
            }
        }
    }

    #aioVideos,
    #aioVideoCarousel {
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;

        video {
            width: 100%;
        }
    }

    #aioVideos {
        display: flex;
        justify-content: space-between;

        div{
            width: 24%;

            p {
                text-align: center;
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
}