<div class="home-page">
    <section class="banner">
      <img class="img-fluid" src="assets/img/intro.jpg">
    </section>
    <section class="intro-text">
      <div class="container">
          <h5>
              All In One Loan Interactive Simulator
            </h5>
            <p>
              Mortgage interest can be one of life's biggest financial obstructions. 
              The All In One Loan was developed by homeowners and mortgage professionals as a solution. 
              By combining banking functionality with home financing into one dynamic instrument, 
              borrowers may be able to save tens of thousands of dollars and years off their loan. 
              This interactive Simulator will help you determine if it's right for you.
            </p>
      </div>    
    </section>
</div>

